html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 @media (min-width: 1200px){
  .css-1oqqzyl-MuiContainer-root {
    max-width: 1920px;
  }
}

/* [data-test="sentinelStart"] + div > div:first-child > div:first-child {
  display: none;
} */